.spa-section {
    height: 100vh;
    background: rgb(106,5,168);
    background: -moz-linear-gradient(56deg, rgba(106,5,168,1) 75%, rgba(14,3,37,0.9920343137254902) 100%);
    background: -webkit-linear-gradient(56deg, rgba(106,5,168,1) 75%, rgba(14,3,37,0.9920343137254902) 100%);
    background: linear-gradient(56deg, rgba(106,5,168,1) 75%, rgba(14,3,37,0.9920343137254902) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6a05a8",endColorstr="#0e0325",GradientType=1);
    position: relative;
}
.spa-section .left-card-photo-wrapper, .spa-section .right-photo-wrapper{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: contain;
    display: flex;
}
.left-card-photo-wrapper {
    left: 0;
    background-position-x: left;
    justify-content: flex-start;
}.left-card-photo-wrapper img {
    width: 30%;
}
.spa-section .right-photo-wrapper {
    right: 0;
    background-position-x: right;
    justify-content: flex-end;
}.right-photo-wrapper a {
    text-decoration: underline;
    width: 5rem;
    height: 5rem;
    position: absolute;
    right: 2%;
    top: 2%;
    border-radius: 3rem;
    background: #fff;
}.right-photo-wrapper a img {
    position: absolute;
    width: 2.5rem !important;
    right: 24%;
    top: 26%;
    transition: .4s;
}.right-photo-wrapper a:hover img{
    transform: translate(5px, -6px);
}
.spa-section .right-photo-wrapper img:last-child {
    width: 29%;
    height: 53%;
}
.card-photo {
    height: 100vh;
    width: 100vw;
}
.navigation-bar.ms-5 {
    margin-left: 9rem!important;
}
.nav-item-box .btn-group .btn{
    color: rgb(255, 255, 255) !important;
    background-color: #7007a3 !important;
    height: 3.4rem;
    margin-bottom: .5rem;
}.nav-item-box .btn-group .btn:hover,.main-content-section .btn-group .btn {
    color: blueviolet !important;
    background-color: #fff !important;
}.nav-item-box .btn-group .btn.border:hover{
    border-color: #fff !important;
}
.nav-item-box .btn-group a.mail-icon-link {
    background: white;
    border-radius: 50%;
    position: relative;
    padding-right: 1.8rem;
    padding-left: 1.8rem;
    padding-top: 1.1rem;
    padding-bottom: 1.3rem;
}a.mail-icon-link img {
    width: 3.5rem;
    padding-right: 1rem;
    transform: translate(-3px, 3px);
    transition: .5s;
    position: absolute;
    top: 20%;
    left: 18%;
}a.mail-icon-link:hover img {
    transform: translate(5px, -6px);
}main {
    margin-top: 20rem;
}.main-content-section {
    position: relative;
    text-align: center;
}.main-logo-image img {
    position: absolute;
    width: 50%;
    height: 53%;
    top: 30%;
    left: 26%;
}.main-content-section img {
    position: absolute;
    top: -135%;
    left: 1%;
    width: 36%;
}.main-content-section .btn-group .btn:hover{
    color: #7007a3 !important;
    background-color: #d1d1d1 !important;
}.main-content-section .btn-group.mt-4 {
    margin-top: 7rem !important;
}button.btn.magic-bfr {
    position: relative;
}button.btn.magic-bfr:before {
    content: 'IN FOR A LITTLE';
    position: absolute;
    width: 55%;
    height: 35%;
    padding: 0.1rem;
    background-color: #3C0CA1;
    border-radius: 1rem;
    font-size: 0.7rem;
    color: #fff;
    top: -23%;
}button.btn.icon-bfr:before {
    content: '';
    background-image: url('./image/FingIcon.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 12%;
    height: 48%;
    padding: 1.2rem;
    border-radius: 1rem;
    font-size: 0.7rem;
    color: #fff;
    top: 14%;
    left: 3%;
    background-size: contain;
    transition: .4s;
}button.btn.icon-bfr:hover::before {
    transform: translate(16%,-32%);
}.live-container {
    display: flex;
    justify-content: flex-end;
    position: relative;
}.live-section {
    background-image: url('./image/Live.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    position: absolute;
    width: 12rem;
    height: 10rem;
    top: -12rem;
    border-radius: 1.4rem;
}.live-section  .live-btn {
    position: absolute;
    bottom: -12%;
    right: -20px;
}.live-btn:before {
    content: '';
    width: 3rem;
    height: 3rem;
    background: #ff5421;
    position: absolute;
    top: 0;
    border: .7rem solid #fff;
    left: -18%;
    border-radius: 2rem;
}.live-section .live-btn.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 2.5rem!important;
}

/* Responsive code  */
@media (min-width: 320px) and (max-width:575px) {
    .spa-section .right-photo-wrapper img:last-child {
        width: 38%;
        height: 26%;
    }.right-photo-wrapper a {
        width: 3rem;
        height: 3rem;
        top: 1%;
        right: 0%;
    }.right-photo-wrapper a img {
        width: 2rem !important;
        height: 1.5rem !important;
        right: 17%;
        top: 26%;
    }.nav-item-box .btn-group a.mail-icon-link {
        width: 1rem;
        height: 4rem;
        padding: 2rem;
    }a.mail-icon-link img {
        width: 3.5rem;
        padding-right: 1.3rem;
        top: 27%;
        left: 28%;
    }.main-logo-image img {
        width: 60%;
        height: 45%;
        top: 33%;
    }.main-content-section .btn-group.mt-4 button.btn {
        font-size: 0.7rem;
    }.main-content-section .btn-group.mt-4 button.px-5 {
        padding-right: 0.5rem!important;
        padding-left: 3rem!important;
    }.main-content-section .btn-group.mt-4 {
        margin-top: -14rem !important;
    }
    .nav-item-box .btn-group .btn {
        font-size: .6rem;
        margin-bottom: .5rem;
    }.nav-item-box .btn-group .btn.px-5 {
        padding-right: .3rem!important;
        padding-left: .3rem!important;
    }.navigation-bar.ms-5 {
        margin-left: 0rem!important;
    }.nav-item-box .btn-group .btn.px-5 {
        padding-right: 1.3rem!important;
        padding-left: 1.3rem!important;
    }.nav-item-box .btn-group{
        margin-left: 10rem;
    }.nav-item-box .btn-group.pt-4 {
        display: flex;
        flex-direction: column;
    }.live-section {
        width: 4rem;
        height: 5rem;
        top: -6rem;
        left: 8rem;
    }.live-section  .live-btn {
        right: -38px;
        font-size: 1rem !important;
    }.live-section .live-btn.px-4 {
        padding-right: 0.5rem!important;
        padding-left: 1.5rem!important;
    }.live-section .live-btn.py-2 {
        padding-top: .2rem!important;
        padding-bottom: .2rem!important;
    }.main-content-section img {
        top: -1136%;
    }.live-btn:before {
        width: 2rem;
        height: 2rem;
        left: -15%;
    }button.btn.magic-bfr:before {
        width: 85%;
        height: 50%;
        padding: 0rem;
        top: -36%;
        left: 11%;
        font-size: .6rem;
    }button.btn.icon-bfr:before {
        width: 12%;
        height: 48%;
        padding: .9rem;
        top: -14%;
        left: -6%;
    }.main-content-section .btn-group button.py-3 {
        padding-top: .3rem!important;
        padding-bottom: 0.3rem!important;
    }.main-content-section .btn-group.mt-4 button.px-5 {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
 }
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) { 
    .nav-item-box .btn-group {
        display: inline-block !important;
    }.spa-section .right-photo-wrapper img:last-child {
        width: 40%;
        height: 40%;
    }main {
        margin-top: 11rem;
    }.main-logo-image img {
        top: 27%;
    }.main-content-section .btn-group.mt-4 {
        margin-top: 6rem !important;
    }.right-photo-wrapper a {
        width: 4rem;
        height: 4rem;
        right: 0%;
        top: 1%;
    }.right-photo-wrapper a img {
        right: 18%;
        top: 28%;
    }.main-content-section .btn-group .btn.px-5 {
        padding-right: 1rem!important;
        padding-left: 1rem!important;
    }.main-content-section .btn-group .btn.py-3 {
        padding-top: .5rem!important;
        padding-bottom: 0.5rem!important;
    }button.btn.magic-bfr:before {
        font-size: 0.5rem;
    }.live-section {
        width: 5rem;
        height: 5rem;
        top: -2rem;
    }.live-section .live-btn.py-2 {
        padding-top: .1rem!important;
        padding-bottom: .1rem!important;
    }.live-section .live-btn.px-4 {
        padding-right: 0.5rem!important;
        padding-left: 1.5rem!important;
    }.live-btn:before {
        width: 2.3rem;
        height: 2.3rem;
        left: -21%;
    }
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .spa-section .right-photo-wrapper img:last-child {
        width: 37%;
        height: 45%;
    }.nav-item-box .btn-group {
        display: inline-block !important;
    }
    .nav-item-box .btn-group .btn.me-4 {
        margin-right: 0.9rem!important;
    }main {
        margin-top: 14rem;
    }.live-section {
        position: absolute;
        width: 8rem;
        height: 8rem;
        top: -5rem;
    }.main-logo-image img {
        top: 25%;
    }.main-content-section .btn-group .btn.py-3 {
        padding-top: 0.6rem!important;
        padding-bottom: .6rem!important;
    }.main-content-section .btn-group .btn.px-5 {
        padding-right: 1rem!important;
        padding-left: 3rem!important;
    }
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { 
    .spa-section .right-photo-wrapper img:last-child {
        width: 31%;
        height: 48%;
    }.nav-item-box .btn-group .btn.px-5 {
        padding-right: 1rem!important;
        padding-left: 1rem!important;
    }.nav-item-box .btn-group .btn.me-4 {
        margin-right: 0.9rem!important;
    }.nav-item-box .btn-group {
        display: inline-block !important;
    }.live-section{
        top: -10rem !important;
    }.main-content-section .btn-group .btn.py-3 {
        padding-top: 0.6rem!important;
        padding-bottom: .6rem!important;
    }.main-content-section .btn-group .btn.px-5 {
        padding-right: 1rem!important;
        padding-left: 3rem!important;
    }
 }

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width:1399px) { 
    main {
        margin-top: 22rem;
    }.main-content-section img {
        left: -1%;
    }
 }
 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    main {
        margin-top: 23rem;
    }
 }